version: '3.7'

services:
  app:
    build: .
    image: exchange
    container_name: exchange
    restart: unless-stopped
    # network_mode: 'host'
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      - TELR_API_ENDPOINT=${TELR_API_ENDPOINT} # change this to match your system's ENV
      - TELR_API_KEY=${TELR_API_KEY} # change this to match your system's ENV
      - COUCHDB_USER=${COUCHDB_USER} # change this to match your system's ENV
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD} # change this to match your system's ENV
    logging: # apply better controls to Docker overlay folder
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '10m'
